.button {
  background: $active;
  border: none;
  border-radius: 5px;
  color: $bg;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  text-decoration: none;
  margin: auto;
  min-width: 80px;
}
.button:disabled, button[disabled]{
  color: $active;
  border: 3px solid $active;
}

.button--link {
  background: none;
}

.button--secondary {
  background: $static;
}

.button--finish {
  display: block;
  margin-top: $l-size;
}
.button--set {
  height: $l-size;
  width: $l-size;
  color: $neg;
  font-size: $font-size-large;
  box-sizing: border-box;
  background-color: $neg; 
  border: 3px solid $active;
  border-radius: 50%;
  margin: $m-size;
}
.button--set:hover {
  border: 3px solid $active;
}
.button--reset {
  background: $warn; 
}
