.collapsible-container {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 5px 0 5px;

  h3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--static)
  }
}