@-moz-keyframes downstroke{
    0% { height: 0; }
    100% { height: $l-size/2; }
}

@-webkit-keyframes downstroke{
    0% { height: 0; }
    100% { height: $l-size/2; }
}

@keyframes downstroke{
    0% { height: 0; }
    100% { height: $l-size/2;  }
}

@keyframes upstroke{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $l-size; }
}
@-webkit-keyframes upstroke{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $l-size; }
}
@-moz-keyframes upstroke{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $l-size; }
}

.exercise {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--bgMain);
    padding: $s-size;
    margin: $s-size;
    align-items: center;
    cursor: pointer;
}
.exercise--details{
    flex-wrap: wrap;
    border-top: none;
    margin-top: -$s-size;
}
.exercise--header{
    border: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap-reverse;
    width: 100%;
}
.exercise--buttons{
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked + .exercise--checkbox, .exercise--checkbox.checked{
    border-color: var(--action);
    
    &::after{
        -moz-animation: upstroke .3s ease 0s forwards;
        -o-animation: upstroke .3s ease 0s forwards;
        -webkit-animation: upstroke .3s ease 0s forwards;
        animation: downstroke .3s ease 0s forwards;
    }
    &::before{
        -moz-animation: downstroke .6s ease 0s forwards;
        -o-animation: downstroke .6s ease 0s forwards;
        -webkit-animation: downstroke .6s ease 0s forwards;
        animation: upstroke .6s ease 0s forwards;
    }
}
.exercise--checkbox{
    height: $l-size*1.2;
    width: $l-size*1.2;
    background-color: transparent;
    border: $l-size*.1 solid $light-grey;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease 0.3s;

    &::before, &::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: $l-size*.15;
        background-color: var(--action);
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        -webkit-transition: opacity ease .5;
        -moz-transition: opacity ease .5;
        transition: opacity ease .5;
    }
    &::before {
        top: $l-size*.8;
        left: $l-size*.5;
        box-shadow: 0 0 0 $l-size*.08 var(--bgMain);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    &::after {
        top: $l-size*.5;
        left: $l-size*.08;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        
    }    
}