.header {
  background: $active;
  padding: $s-size;
}

.header-title {
  margin: 0;
}

.header-title__link {
  text-decoration: none;
  color: $static;
}
.header-about {
  color: $neg;
  margin: 0;
}