.menu {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: var(--neg);
  padding: 5px;
}

.menu-button {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  fill: var(--active);
  stroke: var(--active);
  width: 36px;
  height: 36px;
}