:root {
  --active: #{$active};
  --static: #{$static};
  --bg: #{$bg};
  --neg: #{$neg};
  --warm: #{$warn};
}

.dark {
  --static: #006A8B;
  --active: #00C2FF;
  --bg: #e3f1fa;
  --neg: #E9FAFF;
  --warn: #FE5C5C;
}

.light {
  --static: #3f4344;
  --active: #00C2FF;
  --bg: #e3f1fa;
  --neg: #E9FAFF;
  --warn: #FE5C5C;
}