:root {
  --active: #{$active};
  --static: #{$static};
  --bg: #{$bg};
  --neg: #{$neg};
  --warm: #{$warn};
}

.dark {
  --static: #E9FAFF;
  --active: #00c3ff;
  --bg: #2e3031;
  --neg: #133c49;
  --warn: #FE5C5C;
}

.light {
  --static: #2e3031;
  --active: #00C2FF;
  --bg: #e3f1fa;
  --neg: #CCD8E1;
  --warn: #FE5C5C;
}