* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto;
  font-size: $m-size;
  line-height: 1.6;
}

input {
  text-align: right;
  @media(max-width: 360px){
    width: 150px;
  }
}
main {
  min-height: calc(100vh - 110px);
}
h1, h2, h3 {
  font-family: Oxygen;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}