$static:#34383b; 
$active: #0787f0;
$bg: #021321;
$neg: #f7f7f7;
$warn: #d64747;
// Font Size
$font-size-xlarge: 2.8rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
